/* .grid-container {
    display: grid;
  } */

  /* .grid-container {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    width: 800px;
    height: 500px;
    background-color: beige;
    border: 2px solid black;
    grid-gap: 30px;
  } */

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 10px;
  }


  /* Grid Areas */
  /* .grid-container {
    display: grid;
    grid-template-areas:
      "header header header"
      "sidebar main main"
      "footer footer footer";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 150px 1fr 1fr;
  }
  
  .header { grid-area: header; }
  
  .sidebar { grid-area: sidebar; }
  
  .main { grid-area: main; }
  
  .footer {grid-area: footer;} */

  /* .grid-item {
    grid-column: 1;
    grid-row: 1;
  } */

  .grid-container  .grid-item1 {
    background-color: red;
    width: 100px;
    height: 100px;
    text-align: center;
    padding-top: 40px;
    font-weight: bolder;
  }

  .grid-container .grid-item2 {
    background-color: blue;
    width: 100px;
    height: 100px;
    text-align: center;
    padding-top: 40px;
    font-weight: bolder;
  }

  .grid-container .grid-item3 {
    background-color: green;
    width: 100px;
    height: 100px;
    text-align: center;
    padding-top: 40px;
    font-weight: bolder;
  }

  .grid-container .grid-item4 {
    background-color: yellow;
    width: 100px;
    height: 100px;
    text-align: center;
    padding-top: 40px;
    font-weight: bolder;
  }

  .grid-container .grid-item5 {
    background-color: cyan;
    width: 100px;
    height: 100px;
    text-align: center;
    padding-top: 40px;
    font-weight: bolder;
  }

  .grid-container  .grid-item6 {
    background-color: brown;
    width: 100px;
    height: 100px;
    text-align: center;
    padding-top: 40px;
    font-weight: bolder;
  }

  .scroll-container {
    width: 100%;
    height: 100px;
    overflow: scroll;
    border: 3px solid red;
  }
  
  /* .fixed-box {
    position: fixed;
    bottom: 30px;
    left: 80px;
    width: 80px;
    height: 80px;
    background: orange;
  } */
  
  .scroll-content-box {
    padding-left: 120px;
  }

  .stacking-context1 {
    background: red; 
    width: 100px;
     height: 100px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     color: white;
  }
  .stacking-context2 {
    background: blue; 
    width: 100px;
     height: 100px;
     margin-top: -50px; 
     margin-left: 50px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     color: white;
  }

  .z-index1 {
    position: relative; 
    z-index: 2; 
    background: red;
     width: 100px; 
     height: 100px;"
  }

  .z-index2 {
    position: relative;
    z-index: 1;
    background: blue; 
    width: 100px; 
    height: 100px; 
    margin-top: -50px; 
    margin-left: 50px;"
  }

  .content {
    /* overflow: auto; */
    overflow: hidden;
    border: 3px solid black;
    max-height: 100px;
    float: left;
    width: 100px;
  }
  .content1 {
    overflow: scroll;
    border: 3px solid black;
    max-height: 100px;
    float: left;
    width: 100px;
  }
  .content3 {
    overflow: visible;
    border: 3px solid black;
    max-height: 80px;
    float: left;
    width: 100px;
  }
  .content4 {
    overflow: clip;
    border: 3px solid black;
    max-height: 80px;
    float: left;
    width: 100px;
  }

  /* .clear {
    clear: both; 
  } */


  /* Use when you want to scroll horizontally */
  /* .img-wrapper {         
    overflow: auto;
  } */

  body {
    font-size: 16px;
  }
  
  @media screen and (min-width: 1200px) {
    body {
      font-size: 18px;
    }
  }